body {
    background: lightcyan;
    font-family: 'Droid Sans', sans-serif;
    background-image: url("bg.jpeg");
    display: grid;
  }
  
  header, main, footer {
    min-width: 855px;
  }
  
  header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
    grid-row: auto;
    border-radius: 5ch;
  }

  header {
    padding: 25px 0 25px 0;
    background: white;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    opacity: 0.4;
  }
  
  /* MAIN LOGO */
  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 4em;
    width: 570px;
    text-align: center;
    background-origin:content-box;
    color: blue;
    text-align: left;
  }
  
  /* FOOTER HEADINGS */
  h5 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.25em;
      margin-bottom: 20px;
  }
  
  header nav {
    float: right;
    width: 285px;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5ch;
  }
  
  main {
      border-radius: 0 5px 5px 5px;;
      padding: 40px;
      background-color: transparent;
      display: inline-block;
  }
  
  .tabs a span {
      border-radius: 5px 5px 0 0;
      display: inline-block;
      width: 100px;
      margin-right: 10px;
      text-align: center;
      background: #ddd;
      padding: 5px;
  }
  
  .tabs a .active {
      background: #eee;
  }
  
  main .content {
      padding: 30px 10px 30px 10px;
      border-radius: 0 5px 5px 5px;
      background-color: dimgrey ;
  }
  
  main .content li {
      position:sticky;
      border-radius: 5px;
      padding: 3px;
      background: #958caeb0;
      margin: 0 0 10px 0;
      color: #ccc;
  }
  
  main .content button {
    font-weight: bold;
    padding: 0 3px 0 3px;
    border-radius: 5px;
    background: #ccc;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1.3em;
  }
  
  
  main .content p {
      background: yellow;
  }
  
  main .content input {
      font-size: 1.5em;
  }
  
  footer {
      border-top: 1px solid #ddd;
      padding: 40px 0 20px 0;
  }
  
  footer .contact {
    float: left;
    width: 570px;    
  }
  
  footer .contact p:nth-child(2) {
    color: #b33;
    font-style: italic;
  }
  
  footer .sitemap {
      float: right;
      width: 285px;
  }
  
  footer ul {
      width: 230px;
  }
  
  li {
      list-style: none;
  }
  
  footer .sitemap .left {
      float: left;
  }
  
  footer .sitemap .right {
      float: right;
  }

  .main {
    text-align: center;
  }
  #todos {
    float: left;
    width: 50%;
  }
  .About {
    font-family: cursive;
    font-size: xx-large;
    color: black;
  }

  .content {
    display: flex;
  }